{% extends "base.html" %}

{% block title %}Criar Ticket{% endblock %}

{% block content %}
<h1 class="mb-4">Novo Caso</h1>

<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Título do Caso</label>
        <input type="text" class="form-control" id="title" name="title"
            placeholder="Ex: Juliano Mello X Banco do Brasil" required>
    </div>
    <div class="mb-3">
        <label for="case_number" class="form-label">Tipo de Caso</label>
        <input type="text" class="form-control" id="case_number" name="case_number" required
                    placeholder="Ex: Trabalhista, Criminal, Civil, Divórcio...">
    </div>

    <div class="mb-3">
        <label for="delegado" class="form-label">Responsável (Delegado)</label>
        <select class="form-select" id="delegado" name="delegado" >
            <option value="">Selecione um associado responsável...</option>
            {% for associado in associados %}
                <option value="{{ associado.id }}">{{ associado.username }} ({{ associado.email }})</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="priority" class="form-label">Prioridade</label>
        <select class="form-select" id="priority" name="priority" required>
            <option value="Baixa">Baixa</option>
            <option value="Média" selected>Média</option>
            <option value="Alta">Alta</option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a href="{{ url_for('dashboard.dashboard') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}