# requirements.in (Versão Corrigida e Completa)

# WSGI HTTP Server para produção
gunicorn

# Framework principal
flask

# Gerenciamento de login e usuários
flask-login
flask-sqlalchemy

# Agendador de tarefas em segundo plano
apscheduler

# Para geração e manipulação de PDF
reportlab
pypdf
fpdf2  # Sucessor moderno e recomendado do fpdf

# Para carregar variáveis de ambiente do arquivo .env
python-dotenv

# Proteção contra DDOS
Flask-Limiter
redis

#Migração de banco de dados
Flask-Migrate

#Escrever por Extenso
num2words